{% extends "base.html" %}

{% block content %}



<div class="container">
    <h2 class="greet">Dingleberry and Pacifictrout's Private Messaging Terminal</h2>
    <h3 class="e">Registered Trouts : 2</h3>
    <form method="post">
        <div>
            Username: <input type="text" name="username"><br>
        </div>
        <div>
            Password: <input type="password" name="password"><br>
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
    </form>
</div>
{% endblock %}
