{% extends "base.html" %}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='organization_start.css') }}">
</head>
<div class="container">
    <h1>Congratulations: {{ company_name }} has been successfully created</h1>
    <h1>Your Company: {{ company_name }}</h1>
    <p>Share this code with your employees or users:</p>
    <div class="code-display">
        <p><strong>Company ID:</strong> {{ unique_id }}</p>
        <p><strong>Company Password:</strong> {{ password }}</p>
    </div>
    <p>Please save these details securely.</p>
    <div class="create-channels">
        <!-- The button redirects to a route where the channel creation process starts -->
        <a href="/create-channels" class="btn btn-primary">Start Creating Channels</a>
    </div>

</div>

{% endblock %}
